body{
    margin: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    width: 45%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid hsla(224, 30%, 27%,0.03);
    border-radius: 4.3%;
    box-shadow: 10px 10px 10px 1px hsla(241, 81%, 54%,0.1);
}

.left{
    background-color: hsla(241, 81%, 54%,0.8);
    width: 45%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

.circle{
    border-radius: 50%;
    width: 70%;
    aspect-ratio: 1/1;
    margin: auto;
    color: hsl(0, 0%, 100%);
    background-color: hsla(256, 72%, 46%, 0.6);
    margin-top: 5%; 
} 

.right{
    width: 55%;
    height: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary{
    height: 10%;
    margin-bottom: 5%;
}

.card{
    text-align: center;
    border-radius: 11px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    margin: auto;
}
.first{
    background-color: hsla(0, 100%, 67%,0.1)
}

.first .text{
    color: hsla(0, 100%, 67%,1);
    font-weight: 600;
}

.second{
        background-color:  hsla(39, 100%, 56%,0.1);
}

.second .text{
    color: hsla(39, 100%, 56%,1) ;
}

.third{
    background-color:  hsla(166, 100%, 37%,0.1);
}

.third .text{
    color:  hsla(166, 100%, 37%,1);
}

.fourth{
    background-color: hsla(234, 85%, 45%,0.1) ;
}

.fourth .text{
    color: hsla(234, 85%, 45%,1);
}

.rightText{
    text-align: right;
    margin-right: 8%;
    width: 46%;
}

.cardImage{
    display: flex;
    align-items: center;
    width: 14%;
    justify-content: center;
}

.score{
    font-size: xxx-large;
    font-weight: 800;
    margin-top: 25%;
    margin-bottom:0px; 
}

.outOf{
    color: hsla(0,0%,100%,0.2);
    font-size: large;
    margin-top: 0px;
}

.adjective{
    color: hsla(0,0%,100%,0.9);
    font-size: xx-large;
    margin-top: 5%;
    font-weight: 700;
    margin-bottom: 0px;
}

.text{
    width: 40%;
    text-align: left;
}

.description{
    color: hsla(0,0%,100%,0.6);
    font-size: medium;
    margin-top: 0px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    margin: auto;
}
.beforeCircle{
    color: hsla(0,0%,100%,0.6);
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0px; 
}

.afterCircle{
    margin-top: 0px;
    margin-bottom: 10%;
}

.summary{
    text-align: left;
    margin-left: 10%;
}

.summary p {
    color: hsl(224, 30%, 27%);
    font-size: x-large;
    font-weight: 600;
}

.continue button{
    width: 80%;
    margin: auto;
      margin-top: auto;
      margin-bottom: auto;
    margin-bottom: 10%;
    margin-top: 0px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: larger;
    border-radius: 25px;
    padding-top: 4%;
    padding-bottom: 4%;
}

@media (max-width:376px) {

    .innerContainer{
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: 100%;
        border-radius: 0px;
        border: 0px;
        box-shadow: 0px 0px;
    }
    .left{
        width: 98%;
        height: 50%;
    }

    .right{
        width: 98%;
    }

    .circle{
        width: 40%;
        margin-top: 0px;
    }

    .beforeCircle{
        font-size: large;   
    }

    .afterCircle{

    }

    .summary{
        margin-bottom: 3%;
    }

    .summary p{
        font-size: large;
    }

    .score{
        font-size: xx-large;
    }

    .adjective {
        font-size: x-large;
    }

    .description {
        font-size: small;
    }
    .description{
        margin-top: 3%; 
    }
}

@media (min-width : 1440px) {
    
    .innerContainer {
        height: 70%;
    }

    .summary{
        margin-bottom: 10%;
    }
}